.color-primary {
  color: $color-primery;
}
.color-primary-bg {
  background: $color-primery;
}
.color-second {
  color: $color-second;
}

.color-second-bg {
  background: $color-second;
}
.color-yellow {
  color: $color-yellow;
}
.color-yellow-bg {
  background: $color-yellow;
}
